<nav class="navbar shadow-lg p-3 mb-5 fixed-top navbar-light justify-content-center" style="background-color: #009900;">
  <a class="navbar-brand align-middle" style="color: #ffffff; font-family: sans-serif;font-size: 18px">World Interactive
    Map</a>
</nav>

<div class="bp-container">
  <div>
    <app-map (countrySelected)="countrySelected($event)"></app-map>
  </div>
  <div>
    <app-map-data></app-map-data>
  </div>

  <footer class="navbar navbar-light footer">
    <div class="d-flex justify-content-between" style="width: 100%">
      <div class="footer-copyright py-3">
        <span>© 2021 Copyright, </span>
        <a href="https://www.bp.com//">BP </a>
        <span>plc</span>
      </div>
      <div class="py-3">
        <span>Site owner: Guy Paterson</span>
      </div>
      <div></div>
    </div>
  </footer>
</div>

