

.mat-table {
  overflow-x: scroll;
  width:100%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  white-space: unset;
  overflow: auto;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-header-row {
  background-color: #009900;
}

.mat-header-cell{
  color: white;
}

.mat-cell{
  vertical-align: top;
}

.mat-row:hover {
  background-color: #bedbbf;
}

::ng-deep .mat-sort-header-arrow {
  color: #009900;
}

th.mat-header-cell{
  max-width: 200px;
  min-width: 200px;
}

.mat-cell{
  overflow: unset;
}




