<div class="container-fluid">

  <p *ngIf="columnsDefined"></p>
  <p *ngIf="columnsDefined"></p>

  <mat-form-field *ngIf="columnsDefined" style="width:90%">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search for..." #input>
  </mat-form-field>

  <button *ngIf="columnsDefined" class="btn btn-success float-right" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu" >
    <ng-container *ngFor="let column of columnSelection">
      <button mat-menu-item (click)="setColumnVisibility(column)">
        <mat-icon *ngIf="column.show">done</mat-icon>
        <mat-icon *ngIf="!column.show">close</mat-icon>
        <span>{{column.name}}</span>
      </button>
    </ng-container>

  </mat-menu>

  <table *ngIf="columnsDefined" mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="Country" matSortDirection="asc" matSortDisableClear
         class="mat-elevation-z8">

    <ng-container *ngFor="let disCol of columnSelectionForDisplay; let colIndex = index" matColumnDef="{{disCol}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{disCol}}
      </th>
      <td mat-cell *matCellDef="let element"> {{element[disCol]}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnSelectionForDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnSelectionForDisplay;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data found</td>
    </tr>
  </table>

  <p *ngIf="columnsDefined"></p>
  <p *ngIf="columnsDefined"></p>
</div>





